@charset "UTF-8";
main div.header {
  width: 100%;
}
main div.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
main div.intro h2 {
  font-family: "Roboto", sans-serif !important;
  font-size: .2 rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}
main section.films h2 {
  color: #94211d;
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 30px ;
}
main section.films h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
}
main section.films div.film-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section.films div.film-poster div.row {
  background-color: #cdcdcd;
}
main section#quote-container {
  font-size: 1.8rem;
  font-weight: 600;
  color: #94211d;
}
main section#quote-container h3 {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}
main section#quote-container h3 span {
  font-weight: 400;
}
main section#quote-container h3 span::before {
  content: "— ";
  font-family: "times new roman", serif;
}
main section#quote-container p {
  font-weight: 400;
}
main section#quote-container p::before {
  content: "— ";
  font-family: "times new roman", serif;
}


@media (min-width: 992px) {
  main section.films div.book-row {
    padding-left: 1rem !important;
  }
}
@media (max-width: 991.98px) {
  main div.intro {
    font-size: 1.5rem;
  }
  main section.films h2 {
    font-size: 1.5rem;
  }
  main section.films h3 {
    font-size: 1.2rem;
  }
  main section.films div.film-poster div.row {
    background-color: transparent;
  }
}
@media (max-width: 767.98px) {
  main div.intro h2 {
    font-size: 1rem;
    line-height: 1.4;
  }
  main section.films h2 {
    font-size: 1.3rem;
  }
  main section.films h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  main section#quote-container h3, main section#quote-container p {
    font-size: 1rem;
  }
}