main#gallery h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #94211d;
}
main#gallery h2 {
  font-size: 1.8rem;
  font-family: sans-serif !important;
  font-style: italic;
  font-variant: small-caps;
}
main#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
main#gallery button:active,
main#gallery button:focus {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  main#gallery h1 {
    font-size: 1.5rem;
  }
  main#gallery h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  main#gallery h2 {
    font-size: 1.2rem;
  }
}