.text-light{
  height: 90%;
}

.custom-bg-color {
  
  background-color: #94211d;
}

footer .back-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #d30000;
  font-size: 2rem;
  opacity: 0.6;
  cursor: pointer;
  animation: backToTopAni 1s infinite linear;
}



.bottom-contact{
  line-height:1.5rem;
}
.bottom-links{
  font-size: 1.1rem;
  line-height:1.1rem;
}
.bottom-icons a {
  padding-right: 10px;

}